body {
    display: flex;
    flex-direction: column;
    background-color:azure;
    
}

.form-Section {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    text-align: center;
}

.free-div {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    gap: 40px;
    align-content: space-evenly;
    
}

h3 {
    text-decoration: underline;
}

.ul-div {
    text-align: center;
    margin: 10px;
    min-width: min-content;
    font-weight: bold;
    font-size: 22px;
   
    
}

ul {
    font-weight: 100;
    font-size: 20px;
}

#free-Names {
    list-style: none;
    opacity: 1;
  transition: all 1s ease;
}

#occupations {
    list-style: none;
    opacity: 1;
  transition: all 1s ease;
}

#start-Prices {
    list-style: none;
    opacity: 1;
  transition: all 1s ease;
}

.avg-Price {
    font-weight: bold;
    opacity: 1;
  transition: all 2s ease;
  font-size: larger;
  
}

